@media only screen and (min-width:1000px) {
    body {
        margin: 0px;
        padding: 0%;
        /* overflow: hidden; */
    }
    img {
        width: 100%;
        height: auto;
    }
    .navbar {
        z-index: 10;
        border: 2px solid gainsboro;
        border-radius: 15px;
        box-shadow: 2px 2px 5px black;
        width: 60vw;
        height: 50px;
        background-image: url(./img/bg1.jpg);
        opacity: 0.5;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 10px;
        left: 20px;
    }
    .navbarblock {
        z-index: 11;
        /* background-color: hotpink; */
        width: 60vw;
        height: 50px;
        position: absolute;
        top: 10px;
        left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .navmenu {
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: cursive;
        font-size: 18px;
        color: white;
        text-shadow: 0.5px 0.5px 1px black;
        cursor: pointer;
        transition: all 0.2s;
    }
    .navmenu:hover {
        /* background-color: red; */
        /* border: 2px solid white; */
        /* border-radius: 10px; */
        box-shadow: 1px 1px 3px rgb(61, 61, 61);
        font-size: 19px;
    }
    .sec0 {
        width: 100%;
        height: 100vh;
        background-color: red;
        background-image: url(./img/img4.jpg);
        background-position: top;
        background-size: cover;
        box-shadow: -4px -4px 15px black, 4px 4px 15px black;
    }
    .heading {
        box-sizing: border-box;
        width: 600px;
        height: 300px;
        border: 4px solid white;
        /* box-shadow: 2px 2px 20px red, -2px -2px 20px red; */
        border-radius: 30px;
        background-image: url(./img/logo3.jpg);
        background-size: cover;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: calc(50vh - 200px);
        font-size: 60px;
        font-family: cursive;
        color: white;
        text-shadow: 2px 2px 10px red, -2px -2px 10px red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heading h1 {
        font-size: 120px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
    }
    .sec0book {
        width: 180px;
        height: 60px;
        background-color: white;
        border-radius: 15px;
        border: 3px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;
        font-family: cursive;
        color: red;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: calc(60vh - 200px);
        cursor: pointer;
        transition: 0.3s;
    }
    .sec0book:hover {
        background-color: red;
        border: 3px solid white;
        color: white;
    }
    .sec0bottom {
        width: 100%;
        height: 100px;
        /* background-image: linear-gradient(transparent, white); */
        position: absolute;
        bottom: 0px;
    }
    .sec1 {
        border-top: 4px solid red;
        border-bottom: 4px solid red;
        width: 100%;
        height: 80vh;
        background-color: white;
        box-shadow: -4px -4px 15px black, 4px 4px 15px black;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
    }
    .aboutblock1 {
        background-color: red;
        width: 200px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: cursive;
        font-size: 30px;
        color: white;
    }
    .aboutblock2 {
        /* background-color: red; */
        width: 500px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: cursive;
        font-size: 40px;
        color: red;
    }
    .aboutblock3 {
        border: 4px solid red;
        background-image: url(./img/img7.jpg);
        background-position: center;
        background-size: cover;
        width: 500px;
        height: 330px;
        /* background-color: red; */
    }
    .aboutblock4 {
        width: 500px;
        height: auto;
        /* background-color: lime; */
        font-family: cursive;
        text-align: center;
        color: red;
    }
    .sec2 {
        border-top: 4px solid red;
        border-bottom: 4px solid red;
        width: 100%;
        height: 70vh;
        background-color: white;
        box-shadow: -4px -4px 15px black, 4px 4px 15px black;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
    }
    .serblock1 {
        background-color: red;
        width: 200px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: cursive;
        font-size: 30px;
        color: white;
    }
    .serblock2 {
        margin-top: 10px;
        border: 3px solid red;
        width: 70vw;
        height: 55vh;
        position: static;
    }
    .carousel .carousel-item {
        border: 2px solid red;
        width: 550px;
        height: 350px;
        background-size: cover;
        background-position: center;
    }
    #serimg1 {
        background-image: url(./img/ser1.jpg);
    }
    #serimg2 {
        background-image: url(./img/ser2.jpg);
    }
    #serimg3 {
        background-image: url(./img/ser3.jpg);
    }
    #serimg4 {
        background-image: url(./img/ser4.jpg);
    }
    #serimg5 {
        background-image: url(./img/ser5.jpg);
    }
    #serimg6 {
        background-image: url(./img/ser6.jpg);
    }
    #serimg7 {
        background-image: url(./img/ser7.jpg);
    }
    .sec3 {
        border-top: 4px solid red;
        border-bottom: 4px solid red;
        width: 100%;
        height: 80vh;
        background-color: white;
        box-shadow: -4px -4px 15px black, 4px 4px 15px black;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;

        overflow-y: hidden;
    }
    .bookblock1 {
        background-color: red;
        width: 200px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: cursive;
        font-size: 30px;
        color: white;
    }
    .bookblock2 {
        margin-top: 10px;
        border: 2px solid red;
        width: 95vw;
        height: 55vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }
    .bookstep {
        /* margin: 20px; */
        box-sizing: border-box;
        padding: 0%;
        border: 2px solid red;
        width: 300px;
        height: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stepblock1 {
        box-sizing: border-box;
        position: relative;
        top: -1px;
        margin: 0%;
        width: 101%;
        height: 40px;
        background-color: red;
        text-align: center;
        font-family: cursive;
        color: white;
        font-size: 27px;
    }
    .stepblock2 {
        width: 100%;
        height: 35px;
        border-bottom: 2px solid red;
        font-family: cursive;
        color: red;
        text-align: center;
        font-size: 20px;
        /* font-weight: bold; */
    }
    /* _________________________ */
    .sb13 {
        width: 100%;
        height: 30px;
        background-color: red;
        display: flex;
        flex-direction: row;
        text-align: center;
        color: white;
        font-family: cursive;
        font-size: 18px;
    }
    .sb13 .sb131 {
        width: 70%;
        height: 100%;
        border-right: 2px solid white;
    }
    .sb13 .sb132 {
        width: 30%;
        height: 100%;
    }
    .sb14 {
        /* background-color: lime; */
        width: 100%;
        height: calc(100% - 105px);
        display: flex;
        flex-direction: row;
    }
    .sb141 {
        overflow-y: scroll;
        width: 70%;
        height: 100%;
        border-right: 2px solid red;
    }
    .sb141blocks {
        width: 100%;
        height: auto;
        text-align: center;
        font-family: cursive;
        color: red;
        cursor: pointer;
        font-size: 15px;
    }
    .sb141blocks:hover {
        background-color: red;
        color: white;
    }
    .sb142 {
        overflow-y: scroll;
        width: 30%;
        height: 100%;
    }
    .sb142 .sb142blocks {
        width: 100%;
        height: auto;
        text-align: center;
        font-family: cursive;
        color: red;
        cursor: pointer;
        font-size: 15px;
    }
    .sb142 .sb142blocks:hover {
        background-color: red;
        color: white;
    }
    .sb23 {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sb23blocks {
        box-sizing: border-box;
        background-color: red;
        width: 150px;
        height: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 15px;
        font-family: cursive;
        color: white;
        cursor: pointer;
        /* -webkit-box-sizing: border-box; */
    }
    .sb23blocks:hover {
        box-sizing: border-box;
        border-left: 3px solid red;
        border-right: 3px solid red;
        background-color: white;
        color: red;
    }
    .sb33 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
    }
    .sb331 {
        box-sizing: border-box;
        background-color: red;
        width: 50px;
        height: 50px;
        margin: 15px;
        text-align: center;
        font-size: 23px;
        padding-top: 6px;
        font-family: cursive;
        color: white;
        cursor: pointer;
        /* -webkit-box-sizing: border-box; */
    }
    .sb331:hover {
        border: 2px solid red;
        color: red;
        background-color: white;
    }
    .sb4 {
        /* background-color: lime; */
        width: 100%;
        height: calc(100% - 65px);
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow-y: scroll;
    }
    .sb41 {
        padding-top: 5px;
        box-sizing: border-box;
        background-color: red;
        width: 85%;
        height: 35px;
        margin: 10px;
        text-align: center;
        font-family: cursive;
        font-size: 18px;
        color: white;
        cursor: pointer;
    }
    .sb41:hover {
        border: 2px solid red;
        background-color: white;
        color: red;
    }
    .bookbtn {
        margin-top: 20px;
        width: 180px;
        height: 50px;
        background-color: red;
        font-family: cursive;
        font-size: 30px;
        color: white;
        text-align: center;
        cursor: pointer;
    }
    .bookbtn:hover {
        border: 2px solid red;
        color: red;
        background-color: white;
    }
    .sec4 {
        width: 100%;
        height: 100vh;
        /* background-color: red; */
        background-image: url(./img/img5.jpg);
        background-position: top;
        background-size: cover;
        position: static;
        box-shadow: -4px -4px 15px black;
    }
    .sec4blank {
        width: 450px;
        height: 80vh;
        background-image: url(./img/bg1.jpg);
        background-position: center;
        background-size: cover;
        opacity: 0.3;
        box-shadow: 2px 2px 10px black;
        position: relative;
        top: 10vh;
        left: 5vw;
    }
    .sec4block {
        box-sizing: border-box;
        width: 450px;
        height: 80vh;
        /* background-image: url(./img/bg1.jpg); */
        /* background-color: red; */
        background-position: center;
        background-size: cover;
        /* opacity: 0.4; */
        /* box-shadow: 2px 2px 10px black; */
        position: relative;
        top: -70vh;
        left: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec4b1 {
        /* background-color: lime; */
        width: 90%;
        height: auto;
        margin-top: 35px;
        margin-bottom: 35px;
        text-align: center;
        font-family: cursive;
        color: white;
        font-size: 16px;
        text-shadow: 1px 1px 2px black;
    }
    .sec4b2 {
        margin: 15px;
        width: 80%;
        height: 50px;
        /* background-color: blue; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .sec4bl {
        width: 40px;
        height: 40px;
        /* background-color: white; */
    }
    .sec4bl img {
        width: 100%;
        height: 100%;
    }
    .sec4br {
        box-sizing: border-box;
        padding-top: 3px;
        width: 80%;
        height: 30px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        font-family: cursive;
        color: red;
        font-size: 15px;
        cursor: pointer;
    }
    .sec4br:hover {
        box-sizing: border-box;
        padding-top: 1px;
        background-color: red;
        color: white;
        border: 2px solid white;
    }


    /* %%%%%%%%%%%%%%%%%%%%%%%% */

    #mymonth{
        display: none;
    }
    #myday{
        display: none;
    }
    #mytime{
        display: none;
    }
    #mysize{
        display: none;
    }
    #mypref{
        display: none;
    }

    .information{
        display: block;
        z-index: 50;
        position: fixed;
        top: 10vh;
        left: 25vw;

        width: 50vw;
        height: 60vh;
        background-color: white;
        border: 3px solid red;
        box-shadow: 2px 2px 5px black;


    }

    .information form{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    .infohead{
        width: 100%;
        height: 50px;
        /* background-color: lime; */
        font-family: cursive;
        font-size: 35px;
        color: red;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .infoname{
        width: 90%;
        height: 50px;
        /* background-color: blue; */
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #myname{
        
        border: 2px solid red;
        /* border-radius: 15px; */
        box-sizing: border-box;
        padding-left: 20px;
        width: 100%;
        height: 100%;

        font-family: cursive;
        font-size: 20px;
    }
    #myname::placeholder{
        color: red;
    }

    .infoemail{
        width: 90%;
        height: 50px;
        /* background-color: blue; */

        display: flex;
        justify-content: center;
        align-items: center;
    }
    #myemail{
        
        border: 2px solid red;
        /* border-radius: 15px; */
        box-sizing: border-box;
        padding-left: 20px;
        width: 100%;
        height: 100%;

        font-family: cursive;
        font-size: 20px;
    }
    #myemail::placeholder{
        color: red;
    }

    .infonumber{
        width: 90%;
        height: 50px;
        /* background-color: blue; */

        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mynumber{
        
        border: 2px solid red;
        /* border-radius: 15px; */
        box-sizing: border-box;
        padding-left: 20px;
        width: 100%;
        height: 100%;

        font-family: cursive;
        font-size: 20px;
    }
    #mynumber::placeholder{
        color: red;
    }

    .infosubmit{
        background-color: red;
        border: 3px solid red;
        
        width: 180px;
        height: 50px;

        cursor: pointer;
        
        font-family: cursive;
        color: white;
        font-size: 30px;

        

        display: flex;
        justify-content: center;
        align-content: center;

        cursor: pointer;
    }
    .infosubmit:hover{
        background-color: white;
        color: red;
    }
    
    #confirmbtn{
        border: 3px solid lime;
        width: 180px;
        height: 50px;
        background-color:lime;

        cursor: pointer;
        
        font-family: cursive;
        color: white;
        font-size: 30px;
    }

    
    #confirmbtn:hover{
        background-color: white;
        color: lime;
    }

    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

    .finalmessage{
        z-index: 100;
        display: block;
        position: fixed;
        top: 10vh;
        left: 35vw;

        background-color: white;
        border: 3px solid red;
        box-shadow: 2px 2px 5px black;
        width: 30vw;
        height: 400px;
    }

    .fmimg{
        width: 100%;
        height: 300px;
        background-image: url(./img/finalmessage.jpg);
        background-position: top;
        background-size: 70%;
        background-repeat: no-repeat;
    }

    .fmnote{
        width: 100%;
        height: 100px;

        display: flex;
        justify-content: center;
        align-content: center;

        text-align: center;
        font-family: cursive;
        font-size: 25px;
        color: red;
    }

    .fmcross{
        z-index: 120;
        width: 30px;
        height: 30px;
        /* background-color: black; */
        background-image: url(./assets/cross.png);
        background-size: 120%;
        background-position: center;
        border-radius: 50%;

        cursor: pointer;


        position: absolute;
        top: 2px;
        right: 2px;
    }




}